<div class="container navigation">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/svg/car-logo.svg" alt="Logo" width="40" height="30"
                class="d-inline-block align-text-top">
            CAR DEALERS
        </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="navbar-nav" class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink = "inventory/new">New Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink = "inventory/used">Used Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="home/specials">Specials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="home/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="sales/home">Sales</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="admin/vehicles">Vehicles</a></li>
                            <li><a class="dropdown-item" routerLink="admin/makes">Makes</a></li>
                            <li><a class="dropdown-item" routerLink="admin/models">Models</a></li>
                            <li><a class="dropdown-item" routerLink="admin/specials">Specials</a></li>
                            <li><a class="dropdown-item" routerLink="admin/users">Users</a></li>
                            <li><a class="dropdown-item" routerLink="admin/addvehicle">Add Vehicle</a></li>
                            <li><a class="dropdown-item" routerLink="admin/adduser">Add User</a></li>
                            <li><a class="dropdown-item" routerLink="admin/changePassword">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
    </nav>
</div>