@media (min-width: 992px) {
  .nav-item:not(:last-child)::after {
    content: "|";
    color: lightgray;
  }
}

.nav-item {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.nav-item a {
  white-space: nowrap;
}

.navbar-brand {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar-brand img {
  margin-right: 1rem;
}

#navbarSupportedContent {
  width: 100%
}

.gap {
  display: inline-flex;
  width: 100%
}

#navbar-nav {
  margin: auto;
}

.navigation {
  margin-bottom: 10px;
  background-color: #e3f2fd;
}